@font-face {
    font-family: lato;
    /* set name */
    src: url(fonts/lato/Lato-BlackItalic.ttf)
}

body {
    background-color: yellow;
    color: whitesmoke;
    overflow-x: hidden;
    padding: 0 40px;
    text-align: center;
}

header {
    background-color: white;
    border: 0;
    border-radius: 0.2em;
    position:fixed
    

}



nav {
    position: sticky;
    display: flex;
    flex-flow: row-reverse;

}
.logo {
    font-family: lato;
    text-align: left;
    color: green;


}

button {
    color: whitesmoke;
    border: 0;
    border-radius: 0.2em;
    background-color: #222;
    padding: 6px 10px;
    margin: 2px;
    cursor: pointer;
}

button:hover {
    color: deeppink;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); */
}

.gallery-preview {
    font-family: lato;
    flex-grow: 1;
    width: 120px;
    margin: 0.5em;
    background-color: white;
    color: blue;
    border: 1px solid lightgray;
    border-radius: 0.2em;
    text-align: center;
    padding: 5px;
}

.gallery-preview .btn-remove {
    float: right;
}

.gallery-preview img {
    max-width: 100%;
}

.gallery-preview h5 {
    font-size: 1.4em;
    text-transform: capitalize;
    text-decoration: overline;
}

.gallery-preview h6 span {
    color: tomato;
    font-size: 2em;
}

.gallery-filter {
    background-color: indigo;
    padding: 10px;
    margin: 20px 0px;
    min-width: 130px;
}

.filter-vendor-select {
    text-transform: capitalize;
}

.gallery-filter hr {
    margin: 30px;
}

.modal {
    background-color: #111;
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 150%;
    max-height: 85vh;
    min-width: 350px;
    text-align: center;
    transition: left 0.5s;
}

.modal.open {
    left: 10%;
}

.modal h3 {
    color: pink;
    text-decoration: overline;
    text-transform: capitalize;
}

.modal h4 span {
    color: pink;
}

.modal>p {
    text-align: left;
}

.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: #111;
    padding: 10px;
}

.user-msg.open {
    bottom: 10px;
    transition: bottom 0.5s;
}